body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 920px;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 12px;
    padding: 20px;
    gap: 6px;
}

#screen {
    white-space:pre-wrap;
    width: 450px;
    height: 150px;
    background-color: steelblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 16px;
    display: flex;
    justify-content: end;
}

#buttons, #operations {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    gap: 4px;
    justify-content: center;
}

button {
    height: 75px;
    border-radius: 12px;
}

#buttons button {
    width: 40px;
    border: 2px solid black;
    border-radius: 4px;
    flex-basis: 32%;
}

#buttons #clear {
    flex-basis: 100%;
    margin-top: 8px;
}

#operations {
    margin-bottom: 8px;
}